<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CalcHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-900 text-gray-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-gray-800 shadow-md py-3">
            <div class="container-fluid">
                <a class="navbar-brand text-xl font-medium flex items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="material-icons mr-2 text-primary">calculate</i>CalcHub
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="material-icons align-middle mr-1">home</i> Home
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="calculatorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="material-icons align-middle mr-1">calculate</i> Calculators
                            </a>
                            <ul class="dropdown-menu bg-gray-800 border border-gray-700" aria-labelledby="calculatorDropdown">
                                <li>
                                    <a class="dropdown-item text-gray-200 hover:bg-gray-700" asp-area="" asp-controller="Calculator" asp-action="Discount">
                                        <i class="material-icons align-middle mr-2 text-primary">percent</i> Discount Calculator
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider border-gray-700"></li>
                                <li>
                                    <a class="dropdown-item text-gray-400 hover:bg-gray-700 cursor-not-allowed" disabled>
                                        <i class="material-icons align-middle mr-2">currency_exchange</i> Currency Converter
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-gray-400 hover:bg-gray-700 cursor-not-allowed" disabled>
                                        <i class="material-icons align-middle mr-2">straighten</i> Unit Converter
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-gray-400 hover:bg-gray-700 cursor-not-allowed" disabled>
                                        <i class="material-icons align-middle mr-2">functions</i> Percentage Calculator
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-gray-400 hover:bg-gray-700 cursor-not-allowed" disabled>
                                        <i class="material-icons align-middle mr-2">receipt</i> VAT Calculator
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-gray-400 hover:bg-gray-700 cursor-not-allowed" disabled>
                                        <i class="material-icons align-middle mr-2">local_gas_station</i> Fuel Efficiency
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="material-icons align-middle mr-1">privacy_tip</i> Privacy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-8">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-6">
                    &copy; 2024 - CalcHub - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-blue-400 hover:text-blue-300">Privacy</a>
                </div>
                <div class="col-md-6 text-md-end">
                    <div class="social-links">
                        <a href="#" class="text-slate-400 hover:text-white mr-3"><i class="fab fa-github fa-lg"></i></a>
                        <a href="#" class="text-slate-400 hover:text-white mr-3"><i class="fab fa-twitter fa-lg"></i></a>
                        <a href="#" class="text-slate-400 hover:text-white"><i class="fab fa-linkedin fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>